table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

form {
    display: flex;
}

table, tr, td, th {
    border: solid rgba(0, 0, 0, 0) 2px;
}

.crazy {
    width: 147.75px;
}