<div class="product-container">
            <br>
            <div class="row">
                <div class="container">
                    <p style="text-align: center; font-size: 50px; padding: none; height: 50px;">Products</p>
                    <br>
                    <table class="table table-bordered">
                        <thead style="text-align: center;">
                            <tr style="font-size: xx-large;">
                                <th>Item</th>
                                <th>Details</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: xx-large;">
                            <tr>
                            	<td>Soda</td>
                                <td>2 Liter bottle</td>
                                <td style="text-align: center;">3.25</td>
                            </tr>
                            
                             <tr>
                            	<td>Breadsticks</td>
                                <td>8 per pack</td>
                                <td style="text-align: center;">2.50</td>
                            </tr>
                            
                            <tr>
                            	<td>Pizza - Small Pepperoni</td>
                                <td>8 inch</td>
                                <td style="text-align: center;">7.35</td>
                            </tr>
                            
                            <tr>
                            	<td>Pizza – Medium Pepperoni</td>
                                <td>12 inch</td>
                                <td style="text-align: center;">9.35</td>
                            </tr>
                            <tr>
                            	<td>Pizza - Large Pepperoni</td>
                                <td>18 inch</td>
                                <td style="text-align: center;">14.00</td>
                            </tr>
                            
                             <tr>
                            	<td>Pizza – Small House Special</td>
                                <td>8 inch</td>
                                <td style="text-align: center;">8.50</td>
                            </tr>
                            
                            <tr>
                            	<td>Pizza - Medium House Special</td>
                                <td>12 inch</td>
                                <td style="text-align: center;">10.50</td>
                            </tr>
                            
                            <tr>
                            	<td>Pizza – Large House Special</td>
                                <td>18 inch</td>
                                <td style="text-align: center;">16.00</td>
                            </tr>
                        </tbody>

                    </table>
                    <hr>
                    <button type="button" routerLink="/orders/add" class="button" style="margin: 15px;">Order Screen</button>
                </div>
            </div>
        </div>