
.text-center {
    font-size: 40px;
}

.button {
    font-size: 20px;
    padding: 10px 32px;
}

.product-container {
  background-color: rgba(0, 0, 0, 0.623);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

table {
  color: white;
}
